.reservation-heading {
    padding-left: 15px;
    padding-bottom: 30px;  
}

.reservation-button {
    padding-left: 40px;
    padding-bottom: 40px; 
}

.navbar-brand {
    color: white;
    font-size: 26px;
}

.title-image {
            max-height: 270px;
            max-width: 550px;
        }
        
        .title-row {
            padding-top: 40px;
            padding-bottom: 60px;
        }

.title-images h5 {
    font-size: 26px;
}

.custom-third-table {
    padding-top: 20px;
}

.modal-dialog, .modal-title {
    color: white;
}

.postSpinner {
    color: white;
}

.postSuccess {
    color: green;
    font-size: 16px;
}

.postError {
    color: red;
    font-size: 16px;
}

.center-image {
    margin: 0 auto;
}

@media only screen and (min-width : 1201px) and (min-height : 850px) {
        .title-image {
            max-height: 230px;
        }
        
        .title-row {
            padding-top: 40px;
            padding-bottom: 60px;
        }
    }


@media only screen and (min-width : 1201px) and (min-height : 650px) and (max-height : 849px) {
        .title-image {
            max-height: 170px;
        }
        
        .title-row {
            padding-top: 15px;
            padding-bottom: 30px;
            font-size: 32px;
        }
        
        .title-row h2 {
            font-size: 32px;
        }
        
        .title-images h5 {
            font-size: 22px;
        }
        
        .phone-number-container h4 {
            font-size: 18px;
        }
    }

@media only screen and (min-width : 1201px) and (min-height : 550px) and (max-height : 649px) {
        .title-image {
            max-height: 130px;
        }
        
        .title-row {
            padding-top: 10px;
            padding-bottom: 15px;
        }
        
        .title-row h2 {
            font-size: 22px;
        }
        
        .title-images h5 {
            font-size: 14px;
        }
        
        .phone-number-container h4 {
            font-size: 16px;
        }
    }

@media only screen and (min-width : 1201px) and (max-height : 549px) {
        .title-image {
            max-height: 140px;
        }
        
        .title-row {
            padding-top: 15px;
            padding-bottom: 25px;
        }
        
        .title-images img {
            display: none;
        }
        
        .title-images h5 {
            font-size: 20px;
        }
        
        .phone-number-container h4 {
            font-size: 20px;
        }
    }

@media only screen and (min-width : 1201px) and (max-height : 460px) {
        .title-image {
            max-height: 140px;
        }
        
        .title-row {
            padding-top: 10px;
            padding-bottom: 15px;
        }
        
        .title-images img {
            display: none;
        }
        
        .title-images h5 {
            font-size: 18px;
        }
        
        .phone-number-container h4 {
            font-size: 18px;
        }
    }
    
    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) and (min-height : 800px) {
        .title-image {
            max-height: 230px;
        }
        
        .title-row {
            padding-top: 40px;
            padding-bottom: 60px;
        }
    }
    
    @media only screen and (max-width : 1200px) and (min-height : 660px) and (max-height : 799px) {
        .title-image {
            max-height: 190px;
        }
        
        .title-row {
            padding-top: 10px;
            padding-bottom: 20px;
        }
    }

@media only screen and (max-width : 1200px) and (min-height : 550px) and (max-height : 659px) {
        .title-image {
            max-height: 170px;
        }
        
        .title-row {
            padding-top: 5px;
            padding-bottom: 10px;
        }
        
        .title-row h2 {
            font-size: 18px;
        }
        
        .title-images h5 {
            font-size: 16px;
        }
        
        .phone-number-container h4 {
            font-size: 16px;
        }
    }

@media only screen and (max-width : 1200px) and (min-height : 460px) and (max-height : 549px) {
        .title-image {
            max-height: 170px;
        }
        
        .title-row {
            padding-top: 5px;
            padding-bottom: 10px;
        }
        
        .title-images img {
            display: none;
        }
        
        .title-row h2 {
            font-size: 24px;
        }
        
        .title-images h5 {
            font-size: 22px;
        }
        
        .phone-number-container h4 {
            font-size: 22px;
        }
    }

@media only screen and (max-width : 1200px) and (max-height : 460px) {
        .title-image {
            max-height: 140px;
        }
        
        .title-row {
            padding-top: 10px;
            padding-bottom: 15px;
        }
        
        .title-images img {
            display: none;
        }
        
        .title-images h5 {
            font-size: 18px;
        }
        
        .phone-number-container h4 {
            font-size: 18px;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) and (min-height : 800px) {
        .title-image {
            max-height: 180px;
        }
        
        .title-row {
            padding-top: 40px;
            padding-bottom: 60px;
        }
        
        .title-images h5 {
            font-size: 22px;
        }
    }

@media only screen and (max-width : 992px) and (min-height : 660px) and (max-height : 799px) {
        .title-image {
            max-height: 180px;
        }
        
        .title-row {
            padding-top: 20px;
            padding-bottom: 30px;
        }
        
        .title-images h5 {
            font-size: 22px;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) and (min-height : 800px) {
        .title-image {
            max-height: 185px;
        }
        
         .title-images h5 {
            font-size: 18px;
        }
        
         .title-row {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

@media only screen and (max-width : 768px) and (min-height : 660px) and (max-height : 799px) {
        .title-image {
            max-height: 185px;
        }
        
         .title-images h5 {
            font-size: 18px;
        }
        
         .title-row {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        
        .title-images img {
            display: none;
        }
        
        .title-row h2 {
            font-size: 28px;
        }
    }

@media only screen and (max-width : 768px) and (min-height : 550px) and (max-height : 659px) {
        .title-image {
            max-height: 185px;
        }
        
         .title-images h5 {
            font-size: 18px;
        }
        
         .title-row {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        
        .title-images img {
            display: none;
        }
        
        .title-row h2 {
            font-size: 28px;
        }
    }

@media only screen and (max-width : 768px) and (min-height : 460px) and (max-height : 549px) {
        .title-image {
            max-height: 185px;
        }
        
         .title-images h5 {
            font-size: 18px;
        }
        
         .title-row {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        
        .title-images img {
            display: none;
        }
    }


@media only screen and (max-width : 768px) and (max-height : 459px){
        .title-image {
            max-height: 185px;
        }
        
         .title-images h5 {
            font-size: 18px;
        }
        
         .title-row {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        
        .title-images img {
            display: none;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        .title-image {
            max-height: 175px;
        }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        .title-image {
            max-height: 220px;
            max-width: 100%;
        }
        
        .title-images h5 {
            font-size: 16px;
        }
        
        .header-text h4 {
            font-size: 16px;
        }
    }
   