.navbar-brand {
    color: white;
    font-size: 26px;
}

.title-image {
            max-height: 270px;
            max-width: 550px;
        }
        
        .title-row {
            padding-top: 40px;
            padding-bottom: 60px;
        }

.title-images h5 {
    font-size: 26px;
}

.custom-third-table {
    padding-top: 20px;
}

.modal-dialog, .modal-title {
    color: white;
}

.postSpinner {
    color: white;
}

.postSuccess {
    color: green;
    font-size: 16px;
}

.postError {
    color: red;
    font-size: 16px;
}

/* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
        .title-image {
            max-height: 230px;
            max-width: 450px;
        }
        
        .title-row {
            padding-top: 40px;
            padding-bottom: 60px;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        .title-image {
            max-height: 180px;
            max-width: 350px;
        }
        
        .title-row {
            padding-top: 40px;
            padding-bottom: 60px;
        }
        
        .title-images h5 {
            font-size: 22px;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        .title-image {
            max-height: 220px;
            max-width: 350px;
        }
        
         .title-images h5 {
            font-size: 18px;
        }
        
         .title-row {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        .title-image {
            max-height: 220px;
            max-width: 280px;
        }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        .title-image {
            max-width: 100%;
        }
        
        .title-images h5 {
            font-size: 16px;
        }
        
        .header-text h4 {
            font-size: 16px;
        }
    }